h1{
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    text-align: center;  
    font-size: 30px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    text-align: center; 
}

.myskills{
    color: darkblue;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: 200px;
    height: 200px;
    width: 70%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
 
}

.summary {
    color:darkblue;
    
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}
.projects {
    color: blue;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 50px;
    text-align: center;
}
body {
    background-color: antiquewhite;
    background-size: cover;
    
}
.project1 {
    float:left;
    min-width:300px;
    max-width:900px;
    width:50%;  
    font-family: 'Courier New', Courier, monospace;
}
.project2 {
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
}

.list1 {  
    text-align: left;
    margin-top: -1%;
    list-style-type:circle;
    margin-left: 7%;
   
}

.list3{
    text-align: center;
    list-style-type:circle;
    margin-top: -12%;
    margin-left: -4%;
    margin-bottom: 5%;
    
}

.list2{
    text-align: right;
    list-style-type:circle;
    margin-right: 15%;
    margin-top: -5%;
    margin-bottom: 6%;
  
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    border: 1px solid palevioletred;
    border-radius: 4px;
    padding: 5px;
}
img {
    border-radius: 50%;
  }
  fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border-style: dashed;
    border-color: hotpink;
  }
.cercap{
    margin-left: 0%;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
ul {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
.udacity {
    float:left;
    min-width:300px;
    max-width:900px;
    width:50%;  
    font-family: 'Courier New', Courier, monospace;
}
.logo {
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
}
 